body{
    /* text-align: center; */
    margin: 0;
    font-family: sans-serif;

    
}

/*for heading  */
#page-heading{
    text-align: center;
    margin-top: 25px;
    color:grey;

}

/*removing bullets from  list item */
#contacts-list-container ul{
    padding: 0;
    list-style: none;
}

/* css for displayed lists */
.contact{
    margin-left: 25vw;
    max-width: 50vw;
    padding: 3px 10px;
    border: 1px solid white;
    background-color: #6f92f9;
    box-shadow: 1px 1px 1px 1px lightgrey;
    color: white;
    display: flex;

}

/* css for veiwing details  */
.contact .details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 90%;
}

.contact .delete-button{
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 5px;

}

.contact .delete-button a{
    color:white;
    background-color: red;
}


/* css for paragraph(veiwing name and phone)  */
.contact p{
    margin: 5px 0;

}

/* Alignment for input-box */

#new-contact-form{
    text-align: center;

}   

/* css for add button */
#add{
    background-color: tomato;

}
